[user]
	name = Aleksandar Rangelov
	email = 4brn@proton.me 

[color]
	ui = auto
[core]
	editor = vim
	autocrlf = input
	safecrlf = true
[init]
	defaultBranch = main
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

