/*accent: #d4be98;*/
/*text: #d4be98;*/
/*bgc: #252423;*/
/*bgc2: #32302f;*/

* {
   border-radius: 3px;
   border: 0px;
   color: #d4be98;
}

window {
   font-size: 32px;
   font-family: "Roboto";
   background-color: #252423;
}

#entry {
   padding: 0.25em;
}

#entry:selected {
   background-color: #32302f;
}

#img {
   margin-right: 5px;
}

#input {
   background-color: #252423;
   padding: 0.25em;
}
